<div class="card top-flat">
  <div class="card-body">
    <form [formGroup]="transactionForm">
      <div class="mb-3">
        <label for="fromAcc" class="form-label">From Account</label>
        <input readonly id="fromAcc" type="text" class="form-control" formControlName="fromAcc">
      </div>
      <div class="mb-3">
        <label for="toAcc" class="form-label">To Account</label>
        <input id="toAcc" type="text" class="form-control" formControlName="toAcc" placeholder="type an account name"
          [ngClass]="{ 'is-invalid': isControlInvalid(cs.toAcc) }">
        <label class="mt-1 error" *ngIf="isControlInvalid(cs.toAcc)">this field is required</label>
      </div>
      <label for="amount" class="form-label">Amount</label>
      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">€</span>
          </div>
          <input [ngClass]="{ 'is-invalid': isControlInvalid(cs.amount) }" id="amount" type="number"
            class="form-control" formControlName="amount" placeholder="specify an amount">
        </div>
        <div class="mt-1" *ngIf="isControlInvalid(cs.amount)">
          <label class="error" *ngIf="cs.amount.errors?.required">this field is required</label>
          <label class="error" *ngIf="cs.amount.errors?.max">there is not enough balance</label>
          <label class="error" *ngIf="cs.amount.errors?.min">negative values are invalid</label>
        </div>
      </div>
      <app-submit-button class="float-right" (submitForm)="onSubmit(modal)"></app-submit-button>
    </form>
  </div>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Review Transfer</h4>
    <button type="button" class="close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-italic">Are you ready to send out this transfer?</p>
    <p class="font-weight-bold">It will be sent to account:</p>
    <p>{{cs.toAcc.value}}</p>
    <p class="font-weight-bold">With the amount of:</p>
    <p>€ {{decimalString(cs.amount)}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="dismissModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">Send Transfer</button>
  </div>
</ng-template>