<div class="card">
  <div class="card-body">
    <h5 class="card-title">Make Transfer</h5>
    <form [formGroup]="transactionForm">
      <div class="mb-3">
        <label for="fromAcc" class="form-label">From Account</label>
        <input readonly id="fromAcc" type="text" class="form-control" formControlName="fromAcc">
      </div>
      <div class="mb-3">
        <label for="toAcc" class="form-label">To Account</label>
        <input [ngClass]="{ 'is-invalid': isControlInvalid(t.toAcc) }" id="toAcc" type="text" class="form-control"
          formControlName="toAcc" placeholder="type an account name">
        <label class="mt-1 error" *ngIf="isControlInvalid(t.toAcc)">this field is
          required</label>
      </div>
      <label for="amount" class="form-label">Amount</label>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">€</span>
          <input [ngClass]="{ 'is-invalid': isControlInvalid(t.amount) }" id="amount" type="number" class="form-control"
            formControlName="amount" placeholder="specify an amount">
        </div>
        <div class="mt-1" *ngIf="isControlInvalid(t.amount)">
          <label class="error" *ngIf="t.amount.errors?.required">this field is required</label>
          <label class="error" *ngIf="t.amount.errors?.max">there is not enough balance</label>
        </div>
      </div>
      <app-submit-button class="float-right" (submitForm)="onSubmit()"></app-submit-button>
    </form>
  </div>
</div>