<div class="card top-flat">
  <div class="card-body">
    <app-filter (inputChange)="updateFilter($event)"></app-filter>
    <div class="list-container">
      <p class="d-flex pt-5 justify-content-center" *ngIf="!transactions.length">Loading transactions...</p>
      <ul class="list-group" *ngFor="let t of transactions">
        <li *ngIf="shouldDisplayItem(t.merchant.name)" class="item list-group-item">
          <div class="row align-items-center">
            <div class="col-lg-2 col-auto">
              <div class="row align-items-center">
                <span class="code col px-0 py-3" [ngStyle]="{'background-color': t.categoryCode}">&nbsp;</span>
                <span class="date col">{{dateString(t.dates.valueDate)}}</span>
              </div>
            </div>
            <div class="col-lg-7 col">
              <span class="mb-0">{{t.merchant.name}}</span><br>
              <span class="transaction-type">{{t.transaction.type}}</span>
            </div>
            <div class="col-lg-3 col-auto text-right">
              <span [ngClass]="t.transaction.creditDebitIndicator">{{moneyString(t.transaction)}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>