.transaction-type {
  font-size: small;
  color: grey;
}

.list-container {
  overflow: auto;
  height: 68vh;
}

.item {
  border-width: 0;
  border-bottom-width: 1px;
}

::-webkit-scrollbar {
  display: none;
}

.CRDT {
  color: green;
}

.DBIT {
  color: red;
}

.code {
  flex-grow: 0
}