.transaction-type {
  font-size: small;
  color: grey;
}

.list-container {
  overflow: auto;
  height: 68vh;
}

::-webkit-scrollbar {
  display: none;
}

.CRDT {
  color: green;
}

.DBIT {
  color: red;
}

.indi {
  display: table-cell;
}