<div class="card">
  <div class="card-body">
    <h5 class="card-title">Transactions List</h5>
    <app-filter (inputChange)="filter($event)"></app-filter>
    <div class="list-container">
      <p *ngIf="!transactions.length">Loading transactions...</p>
      <ul class="list-group" *ngFor="let t of displayedTransactions">
        <li class="list-group-item mb-2">
          <div class="row align-items-center">
            <div class="col-2">
              <span>{{dateString(t.dates.valueDate)}}</span>
            </div>
            <div class="col">
              <span class="mb-0">{{t.merchant.name}}</span><br>
              <span class="transaction-type">{{t.transaction.type}}</span>
            </div>
            <div class="col text-right">
              <span [ngClass]="t.transaction.creditDebitIndicator">{{moneyString(t.transaction)}}</span>
            </div>
            <!-- <app-transaction-item></app-transaction-item> -->
          </div>
        </li>
      </ul>
    </div>
  </div>