@import '../../bb-ui/styles/vars';

.background {
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
}

.unblur {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.blue-header {
  background-color: $primary-blue;  
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  h4, .lni {
    color: white;
  }
  i {
    font-size: 20px
  }
}