<div class="bg">
  <div class="container">
    <div class="col-12">

      <app-logo></app-logo>
    </div>

    <div class="mt-4 row justify-content-md-center">
      <div class="card col-4">
        <div class="card-body">
          <h5 class="card-title">Make Transfer</h5>
          <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="fromAcc" class="form-label">From Account</label>
              <input id="fromAcc" type="text" class="form-control" formControlName="fromAcc">
            </div>
            <div class="mb-3">
              <label for="toAcc" class="form-label">To Account</label>
              <input id="toAcc" type="text" class="form-control" formControlName="toAcc">
            </div>
            <label for="amount" class="form-label">Amount</label>
            <div class="input-group mb-3">
              <span class="input-group-text">€</span>
              <input id="amount" type="text" class="form-control" formControlName="amount">
            </div>
            <app-submit-button type="submit" value="Submit"></app-submit-button>
          </form>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="card col-7">
        <div class="card-body">
          <h5 class="card-title">Transactions List</h5>
          <div *ngFor="let t of transactions">
            <span>{{t.merchant.name}} {{t.transaction.amountCurrency.amount}}
              {{t.transaction.amountCurrency.currencyCode}}</span>
            <app-transaction-item></app-transaction-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->