@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

html {
  height: 100vh;
}

button, .button {
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}


// .card {
  
// }