@import '~bootstrap/scss/bootstrap';
@import url("https://cdn.lineicons.com/2.0/LineIcons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

$or:orange;

.btn-primary {
  @include button-variant($or, darken($or, 7.5%), darken($or, 10%), lighten($or,5%), lighten($or, 10%), darken($or,30%));
  color: white;
}
    
.btn-outline-primary {
  @include button-outline-variant($or, #222222, lighten($or,5%), $or);
}

.top-flat {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}